body{
  margin: 0 auto;
  height: 100%;
  width: 100%;
}
ul{
  padding: 0px!important;
}
.menuPrincipal{
  background-color: #252323;
  height: 68px;
  width: 100%;
}
main{
  margin: 0 auto;
  position: relative;
  height: 980px;
}
.logo{
  color: aliceblue;
  width: 50%;
  float: left;
  padding: auto;
}
.cadastroLogin{
  color: aliceblue;
  float: right;
  font-style: normal;
  padding: 16px;
}
.cadastroLogin ul li{
  display: inline-block;
}
.cadastroLogin ul li a{
  text-decoration: none;
  color: aliceblue;
}
.cadastroLogin ul li a:hover{
  color: lightgreen;
}
.header2{
  background-color: white;
  width: 980px;
  height: 34px;
 
  margin: 0 auto;
}
.menu-urls{
  height: 34px;
  border-bottom: 3px solid;
  padding: auto;
}
.header2 ul li{
  display: inline-block;
}

.header2 ul li a{
  text-decoration: none;
  color: black;
}
.header2 ul li a:hover{
  color: lightgreen;
 
}

.pesquisa input{
  display: inline-block;
  height: 34px;
  border-bottom: 3px solid;
  padding: auto;
  margin: auto;
  float: right;
  border: 1px solid #d1d1d1;
}

.col-100{
  width: 100%;
  position: relative;
margin: 0 auto;
}
.banner{
width: 100%;
height: 100%;
}